<div class="page">
  <% @users.each do |user| %>
    <%= render partial: "users/shared/info_container", locals: { user: user } %>
  <% end %>
</div>

<style>
    .page {
        display: grid;
        place-items: center;
    }
</style>