<div class="comments_container">
  <p class="title">
    <%= post.comments.any? ? 'Comments: ' : 'No comments' %>
  </p>
  <% post.comments.each do |comment| %>
    <p><%= comment.user.name %>: <%= comment.text %></p>
  <% end %>
</div>

<style>
    .comments_container {
        width: 440px;
        padding: 10px;
        border: 2px solid black;
    }

    .title {
        margin: 10px;
    }
</style>