<div class="page">
  <%= render partial: "shared/info_container", locals: { user: @user } %>
  <% @posts.each do |post| %>
    <div class="post-container">
      <%= link_to user_post_path(@user, post) do %>
        <%= render partial: "shared/post_container", locals: { post: post } %>
      <% end %>
      <%= render partial: "shared/comment_container", locals: { post: post } %>
    </div>
  <% end %>
</div>

<style>
    .page {
        display: grid;
        place-items: center;
    }

    .post-container {
        margin: 10px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
</style>